<ngb-accordion [closeOthers]="true" activeIds="static-1">
  <ngb-panel id="static-1" title="Accedi">
    <ng-template ngbPanelContent>
      <div *ngIf="loginError && !loginSuccess" class="alert alert-danger" role="alert">
        {{ loginError }}
      </div>
      <div *ngIf="loginSuccess" class="alert alert-success" role="alert">
        {{ loginSuccess }}
      </div>
      <form (ngSubmit)="loginWithEmail()" [formGroup]="loginForm">
        <div class="form-group">
          <label for="emailLogin">Email</label>
          <input class="form-control" formControlName="email" id="emailLogin" required type="email">
        </div>
        <div class="form-group">
          <label for="passwordLogin">Password</label>
          <input class="form-control" formControlName="password" id="passwordLogin" required type="password">
        </div>
        <button [disabled]="!loginForm.valid" class="btn btn-primary" type="submit">Accedi</button>
        <button (click)="resetPassword()" class="btn btn-link ml-3" type="button">
          <small>Password dimenticata?</small>
        </button>
      </form>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-2" title="Non sei registrato? Crea un account">
    <ng-template ngbPanelTitle title="Simple">
    </ng-template>
    <ng-template ngbPanelContent>
      <div *ngIf="registerError" class="alert alert-danger" role="alert">
        {{ registerError }}
      </div>
      <form (ngSubmit)="registerWithEmail()" [formGroup]="registerForm">
        <div class="form-group">
          <label for="displayName">Nome visualizzato</label>
          <input aria-describedby="displayNameHelp" class="form-control" formControlName="displayName" id="displayName"
                 name="displayName" type="text">
          <small class="form-text text-muted" id="displayNameHelp">
            Questo sarà il nome con cui ti vedranno altri giocatori.</small>
        </div>
        <div class="form-group">
          <label for="emailRegister">Email</label>
          <input class="form-control" formControlName="email" id="emailRegister" required type="email">
        </div>
        <div class="form-group">
          <label for="passwordRegister">Password</label>
          <input aria-describedby="passwordRegisterHelp" class="form-control" formControlName="password"
                 id="passwordRegister" required
                 type="password">
          <small class="form-text text-muted" id="passwordRegisterHelp">min 6 caratteri.</small>
        </div>
        <button [disabled]="!registerForm.valid" class="btn btn-primary" type="submit">Registrati</button>
      </form>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
