<p class="lead" *ngIf="!yourTurn">Gli scrittori devono selezionare la continuazione che ritengono essere quella originale.</p>
<p class="lead" *ngIf="yourTurn">Seleziona la continuazione che ritieni essere quella originale.</p>

<div class="row mt-4">
  <div class="col-md-8 mb-4">
    <h4>
      Possibili frasi complete:
    </h4>
    <ol class="mt-4">
      <li *ngFor="let answerInfo of shuffledAnswerInfos">
        {{ game.variables.INCOMPLETE_TEXTS[game.variables.HAND - 1] }}
        <strong>{{ answerInfo.answer }}</strong>
      </li>
    </ol>
    <div class="mt-4" *ngIf="yourTurn && !isLoadingSelectAnswer">
      <p>Scegli la risposta:</p>
      <button type="button" class="btn btn-outline-primary mr-2" *ngFor="let answer of keyboard" (click)="selectAnswer(answer)">
        {{ answer }}
      </button>
    </div>
    <p *ngIf="isLoadingSelectAnswer">Caricamento...</p>
  </div>
  <div class="col-md-4 mb-4">
    <div><strong>Lettore</strong></div>
    <div class="mb-4">{{ game.players_names[game.variables.READER_INDEX] }}</div>

    <ng-container *ngFor="let player_name of game.players_names; index as i">
      <div *ngIf="i != game.variables.READER_INDEX" class="mt-3">
              <span *ngIf="game.variables.SELECTED_CURRENT_HAND[i] == true; else CONFIRMED_CURRENT_HAND">
                😴
              </span>
        <ng-template #CONFIRMED_CURRENT_HAND>👈</ng-template>
        {{ player_name }}
      </div>
    </ng-container>
  </div>
</div>
