<div class="alert alert-warning">
  <strong>Stai giocando al gioco {{ gameName }}</strong>
  <a [routerLink]="['/game/', UserCurrentGameId]" class="ml-3">
    <u>torna al gioco</u>
  </a>
  <span class="ml-4 mr-2">o</span>
  <a (click)="exitGame()" [routerLink]="" class="text-secondary">abbandona gioco</a>
</div>
