<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Partecipa al gioco</h4>
</div>
<div class="modal-body">
  <div *ngIf="error" class="alert alert-danger" role="alert">
    {{ error }}
  </div>
  <div *ngIf="fireUserId; else showLogin">
    <button (click)="joinGame()" class="btn btn-primary" role="button">
      Gioca
    </button>
  </div>
  <ng-template #showLogin>
    <app-sign-in (getFireUserId)="this.fireUserId = $event"></app-sign-in>
  </ng-template>
</div>
<div class="modal-footer">
  <button (click)="close(false)" class="btn btn-link" type="button">
    Voglio solo osservare
  </button>
</div>
