<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Crea gioco</h4>
</div>
<div class="modal-body">
  <div *ngIf="fireUserId; else showLogin">
    <form (ngSubmit)="createGame()" [formGroup]="createGameForm">
      <div *ngIf="error" class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      <div class="form-group">
        <label for="gameName">Nome gioco</label>
        <input aria-describedby="gameNameHelp" class="form-control" formControlName="gameName" id="gameName"
               type="text">
        <small class="form-text text-muted" id="gameNameHelp">Sono ammessi solo lettere, numeri e trattini (-).</small>
      </div>
      <button [disabled]="!createGameForm.valid" class="btn btn-primary" type="submit">Crea</button>
    </form>
  </div>
  <ng-template #showLogin>
    <app-sign-in (getFireUserId)="this.fireUserId = $event"></app-sign-in>
  </ng-template>
</div>
<div class="modal-footer">
  <button (click)="close()" class="btn btn-link" type="button">
    Chiudi
  </button>
</div>
