<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container">
    <a [routerLink]="'.'" class="navbar-brand">ReWord</a>

    <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
    <button (click)="isMenuCollapsed = !isMenuCollapsed" class="navbar-toggler" type="button">
      &#9776;
    </button>

    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a (click)="signOut()" *ngIf="fireUserId" [routerLink]="" class="nav-link">Logout</a>
          <a (click)="modalService.open(content)" *ngIf="!fireUserId" [routerLink]="" class="nav-link">Accedi /
            Registrati</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Accedi / Registrati</h4>
    <button (click)="modal.dismiss()" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-sign-in (getFireUserId)="this.fireUserId = $event; modal.dismiss()"></app-sign-in>
  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss()" class="btn btn-link" type="button">
      Chiudi
    </button>
  </div>
</ng-template>
<div class="container">
  <router-outlet></router-outlet>
</div>
