<p class="lead" *ngIf="!yourTurn">
  {{ game.players_names[game.variables.READER_INDEX] }} sta scrivendo la frase di un libro...
</p>
<p class="lead" *ngIf="yourTurn">
  Tocca a te a scrivere la frase di un libro...
</p>

<ng-container *ngIf="yourTurn">
  <form *ngIf="!isLoadingWriteText; else loading" (ngSubmit)="writeText()" [formGroup]="writeTextForm" class="my-5">
    <div *ngIf="error" class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    <div class="row">
      <div class="form-group col">
        <label for="incomplete">Incipit frase</label>
        <input class="form-control" formControlName="incomplete" id="incomplete" type="text">
      </div>
      <div class="form-group col">
        <label for="completion">Completamento</label>
        <input class="form-control" formControlName="completion" id="completion" type="text">
      </div>
    </div>
    <button [disabled]="!writeTextForm.valid" class="btn btn-primary" type="submit">Invia</button>
  </form>
  <ng-template #loading>
    Caricamento...
  </ng-template>
</ng-container>

<div class="row mt-4">
  <div class="col-md-8">
    <h4 class="text-center">
      {{ game.players_names[game.variables.READER_INDEX] }}
    </h4>
    <h4 class="text-center">
      ✍️
    </h4>
  </div>
  <div class="col-md-4">
    <ng-container *ngFor="let player_name of game.players_names; index as i">
      <div *ngIf="i != game.variables.READER_INDEX" class="mt-3">
        😴 {{ player_name }}
      </div>
    </ng-container>
  </div>
</div>
