<div class="row">
  <div class="col-md-8">
    <p class="lead mb-4">Chi ha scritto cosa e votazioni</p>
    <table class="table">
      <thead>
      <tr>
        <th style="width: 60%">Frase</th>
        <th>Scritta da</th>
        <th>Votata da</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let answerInfo of shuffledAnswerInfos">
        <td>
                <span *ngIf="answerInfo.correct">
                  ✅
                </span>
          {{ game.variables.INCOMPLETE_TEXTS[game.variables.HAND - 1] }}
          <strong>{{ answerInfo.answer }}</strong>
        </td>
        <td>
          <div *ngFor="let authorId of answerInfo.authors">{{ game.players_names[authorId] }}</div>
        </td>
        <td>
          <div *ngFor="let voterId of answerInfo.voted_by">{{ game.players_names[voterId] }}</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <p class="lead mb-4" *ngIf="!isGameEnded">Punteggio</p>
    <p class="lead mb-4" *ngIf="isGameEnded">Punteggio finale</p>
    <table class="table">
      <thead>
      <tr>
        <th>Giocatori</th>
        <th *ngFor="let hand of hands">{{ hand + 1 }}</th>
        <th>TOT</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let score of scores;">
        <td>{{ game.players_names[score.num] }}</td>
        <td *ngFor="let hand of hands">
          {{ game.variables.HAND_POINTS[hand][score.num] }}
        </td>
        <td>{{ score.points }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<hr class="mt-4">
<p *ngIf="isLoadingStartNextRound" class="mt-4 lead">Caricamento...</p>
<div *ngIf="!isLoadingStartNextRound && !isGameEnded">
  <p *ngIf="yourTurn" class="lead mt-4">Sta a te ad avviare la prossima mano:</p>
  <p *ngIf="!yourTurn" class="lead mt-4">Stiamo aspettando che {{ game.players_names[0] }}
    avvii la prossima mano...</p>
  <button (click)="startNextRound()" *ngIf="yourTurn" class="btn btn-primary">Avvia prossima mano</button>
</div>
<div *ngIf="!isLoadingStartNextRound && isGameEnded">
  <p>Il gioco è terminato.</p>
</div>
<br><br>
