<p class="lead" *ngIf="!yourTurn">Gli scrittori devono completare la frase</p>
<p class="lead" *ngIf="yourTurn">Sta a te a completare la frase...</p>

<div class="row mt-4">
  <div class="col-md-8">
    <h5 class="text-center">
      {{ game.players_names[game.variables.READER_INDEX] }}
    </h5>
    <h4 class="text-center mt-4">
      {{ game.variables.INCOMPLETE_TEXTS[game.variables.HAND - 1] }}
    </h4>

    <form *ngIf="yourTurn" (ngSubmit)="writeText()" [formGroup]="writeTextForm" class="my-5">
      <div *ngIf="error" class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="completion">Completamento</label>
          <input class="form-control" formControlName="completion" id="completion" type="text">
        </div>
      </div>
      <button [disabled]="!writeTextForm.valid" class="btn btn-primary" type="submit">Invia</button>
    </form>

  </div>
  <div class="col-md-4">
    <ng-container *ngFor="let player_name of game.players_names; index as i">
      <div *ngIf="i != game.variables.READER_INDEX" class="mt-3">
              <span *ngIf="game.variables.CONFIRMED_CURRENT_HAND[i] == true; else CONFIRMED_CURRENT_HAND">
                😴
              </span>
        <ng-template #CONFIRMED_CURRENT_HAND>✍️</ng-template>
        {{ player_name }}
      </div>
    </ng-container>
  </div>
</div>
