<ng-container *ngIf="playMode !== undefined">
  <app-current-game-alert *ngIf="fireUser?.current_game_id && fireUser?.current_game_id !== game?.id"
                          [UserCurrentGameId]="fireUser.current_game_id"
                          [fireUserId]="fireUser.id"></app-current-game-alert>

  <div *ngIf="game">
    <h2 class="mt-4 mb-5">{{ game.name }}</h2>

    <app-game-detail-initial *ngIf="game.sub_state == 'INITIAL'" [fireUser]="fireUser"
                             [game]="game"
                             [playMode]="playMode"></app-game-detail-initial>

    <app-reader-writes-incomplete-text *ngIf="game.sub_state == 'state_READER_WRITES_INCOMPLETE_TEXT'"
                                       [game]="game" [fireUser]="fireUser"
                                       [currentUserIndex]="currentUserIndex"></app-reader-writes-incomplete-text>

    <app-writers-write-answers *ngIf="game.sub_state == 'state_WRITERS_WRITE_ANSWERS'" [game]="game"
                               [fireUser]="fireUser" [currentUserIndex]="currentUserIndex"></app-writers-write-answers>

    <app-writers-select-best-answer *ngIf="game.sub_state == 'state_WRITERS_SELECT_BEST_ANSWER'" [game]="game"
                                    [fireUser]="fireUser" [shuffledAnswerInfos]="shuffledAnswerInfos"
                                    [currentUserIndex]="currentUserIndex"></app-writers-select-best-answer>

    <app-next-hand *ngIf="game.sub_state == 'state_NEXT_HAND' || game.sub_state == 'state_RECAP_VOTES'"
                   [currentUserIndex]="currentUserIndex"
                   [fireUser]="fireUser"
                   [game]="game" [hands]="hands"
                   [shuffledAnswerInfos]="shuffledAnswerInfos"></app-next-hand>

    <div *ngIf="game.sub_state == 'state_RECAP_VOTES'">Caricamento...</div>

    <div *ngIf="playMode">
      <br>
      <hr class="mt-5">
      <button (click)="exitGame()" class="btn btn-xs btn-outline-danger">Abbandona gioco</button>
    </div>
  </div>

  <p *ngIf="game === null">
    Nessun gioco attivo trovato.
  </p>
</ng-container>
