<app-current-game-alert *ngIf="fireUser?.current_game_id" [UserCurrentGameId]="fireUser?.current_game_id"
                        [fireUserId]="fireUser?.id"></app-current-game-alert>

<h2 class="mt-4">Home</h2>
<hr class="mb-4">
<button (click)="openCreateGameModal()" class="btn btn-sm btn-primary">Crea gioco</button>

<h4 class="mt-5 mb-3">Giochi pubblici</h4>

<div *ngIf="publicGames$ | async as publicGames; else loading" class="list-group">
  <ng-container *ngIf="publicGames.length; else noPublicGames">
    <a *ngFor="let game of publicGames" [routerLink]="['game', game.id]"
       class="list-group-item list-group-item-action">
      {{ game.name }}
    </a>
  </ng-container>
  <ng-template #noPublicGames>Non ci sono giochi pubblici.</ng-template>
</div>
<ng-template #loading>
  Caricamento...
</ng-template>
