<div class="row mt-4">
  <div class="col-md-8 mb-4">
    <div *ngIf="playMode" class="mb-5">
      <p class="lead">Condividi questo link per invitare giocatori:</p>
      <code>{{ currentUrl }}</code>
    </div>

    <p *ngIf="game.num_players < 3" class="lead">Sono necessari almeno 3 giocatori per iniziare la partita.</p>
    <p *ngIf="game.num_players >= 3 && game.creator_id != fireUser?.id" class="lead">
      Stiamo aspettando che {{ game.players_names[0] }} avvii la partita...
    </p>

    <button (click)="startGame()" *ngIf="game.num_players >= 3 && game.creator_id == fireUser?.id"
            class="btn btn-primary mt-4">
      Avvia gioco
    </button>

  </div>
  <div class="col-md-4 mb-4">
    <div><strong>Giocatori:</strong></div>
    <ul>
      <li *ngFor="let player_name of game.players_names" class="mt-3">{{ player_name }}</li>
    </ul>

  </div>
</div>
